.App {
  text-align: center;
}

table { margin: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.button-nav {
  display: flex;
  flex-flow: flow nowrap;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
}

.button-nav > button{
    padding: 0.5em;
    width: 70px;
    height: auto;
    margin-right: 8px;
    border: 1.5px solid #0d1117;
    border-radius: 4px;
    background: transparent;
    font-weight: 800;
}

.button-nav > button:hover{
  background: lightcoral;
}
